body {
  font: 14px "PremierSans-Bold", "Helvetica Neue", "Helvetica", "Arial", "sans-seriff";
  margin: 0px;
  padding: 0px;
}

.app {    
  margin: 20px;
  max-width: 424px;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.submit-entry,.refresh {
  margin-top: 15px;
  color: #fff;
  background-color: rgb(55, 0, 60);
  padding: 3px 25px;
  font-family: Roboto,sans-serif;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid transparent;
}

.refresh:disabled{
  background:  rgba(55, 0, 60, 0.5);
  cursor: no-drop;
}

#root, .refresh-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.entry-info {
  font-family: "Lato", "Helvetica Neue", "Helvetica", "sans-serif";
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 10px;
}

.change-entry {
  margin-left: 10px;
  border: none;
  cursor: pointer;
  width: 16px;
  height: 16px;
  
  background-color: white;
  background-image: url('close-icon.png');
  display: inline-block;
  vertical-align: top;
}

.league-select {
  width: 100%;
  height: 25px;
  border-radius: 5px;
  margin-top: 15px;
}

.rankings {
  list-style: none;
}

.players-info {
  display: flex;
  flex-direction: row;
  height: 545px;
}

.player-info {
  flex-grow: 1;
  border: 1px solid #2F2F2F;
  margin-top: 20px;
  max-width: 200px;
  border-radius: 5px;

  background: linear-gradient(
    to bottom,
    #01BA5C,
    #01BA5C 50%,
    #00AE55 50%,
    #00AE55
  );
  background-size: 100% 50px;
}

.player-info:not(:last-child) {
  margin-right: 20px;
}

.event-select {
  width: 100%;
  height: 25px;
  border-radius: 5px;
  margin-top: 15px;
}

.player-select {
  width: 100%;
  height: 25px;
  border-radius: 5px;
}

.points-wrapper {
  background-color: white;
  color: #FF2882;
  width: 90px;
  height: 50px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #2F2F2F;

  display: flex;
  justify-content: center;
  align-items: center;
}

.points {
  font-size: 3rem;
  font-weight: normal;
}

.player-picks {    
  list-style: none;
  padding: 0px;

  display: flex;
  flex-direction: column;
}

.player-pick {
  margin: 1px 4px;
  height: 25px;
  display: flex;
  align-items: center;
}

.player-pick-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 64%;
  display: inline-block;

  background-color: #00763A;
  color: white;
  font-size: 14px;
  padding: 3px 7px;
  border-radius: 5px;
}  

.reserve {
  background-color: #E9E9E5;
  color: #2F2F2F;
}

.cap-icon {
  width: 20px;
  height: 20px;
  color: white;
  display: inline-block;
  margin-left: 2px;
}

.player-pick-points {
  background-color: #00FF87;
  color: #2F2F2F;
  font-size: 14px;
  padding: 3px 7px;
  border-radius: 5px;
  margin-left: 4px;
  display: inline-block;
}

.sub-icon {
  fill: black;
  border-radius: 10px;
  margin-left: 4px;
  width: 14px;
  height: 14px;
}

.goes-in {
  background-color: #13C905;
}

.goes-out {
  background-color: #FF0101;
}